package ${classPackage};

/**
#foreach( $line in ${classDescription} )
 * ${line}
#end
 * <p>
 * Created: ${classCreateDate}
 *
 * @author Justin R. Knowles
 */
public enum ${className} {
#foreach( $value in ${entityValues} )

	/**
#foreach( $line in $value.description)
 	 * ${line}
#end
	 */ 
	${value.instanceName}#if($entityValues.size() == $velocityCount);#else,#end
	
#end

    /**
     * Gets the ${className} value of the given string, stripping whitespace and ignoring case.
     * 
     * @param value
     * @return ${className}
     */
    public static ${className} valueOfIgnoreCase(String value) {
        if (value == null) {
            throw new IllegalArgumentException();
        }
        else {
            return ${className}.valueOf(value.trim().toUpperCase());
        }
    }
}

/*
 * Copyright 2015
 */
